{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<main>
    <section class="container">
    {% for article in contenuPanier %}
    <div class="mx-auto p-2" style="width: 90%;border:solid black 1px;margin-top:50px; margin-bottom:30px;">

            <div  class="row">
                <div class="col-md-3"><img src="{{ asset('uploads/' ~ article.orderedProduct.image) }}" alt="{{ article.orderedProduct.name }}">
                </div>
                <div class="col-md-2" style="align-content: center;">
                <label>Nom:</label>
                <div style="border:solid black 1px;text-align:center;">{{ article.orderedProduct.name }}</div>
                </div>
                <div class="col-md-2" style="align-content: center;">
                <label>Prix:</label>
                <div style="border:solid black 1px;text-align:center;">{{article.orderedProduct.formattedPrice}}€</div>
                </div>
                <div class="col-md-2" style="align-content: center;">
                <label>Taille :</label>
                <div style="border:solid black 1px;text-align:center;">{{article.size}}</div>
                </div>
                <div class="col-md-2" style="align-content: center;">
                <label>Quantité :</label>
                <div style="border:solid black 1px;text-align:center;">{{article.orderedQuantity}}</div>
                </div>

                <div class="text-end">
                    <a href="{{path('app_cart_remove', {id:article.orderedProduct.id,size:article.size})}}" class="btn" style="width: 200px;border:solid black 1px;">Retirer du panier</a>
                </div>
            </div>
            
    </div>
    
    {% else %}
    <p>Votre panier est vide</p>
    {% endfor %}
    <div class="row mx-auto p-2" style="width: 90%;justify-content:flex-end">
        <div  class="col col-md-3">
            <div style="width: 200px;border:solid black 1px;" class="text-center col-md-3">TOTAL : {{total|number_format(2, ',', ' ')}}€</div>
            
        </div>
        <div  class="col col-md-3">
            <div class="row">
            <a href="#" class="btn" style="width: 200px;border:solid #DC143C 1px; background-color:#F08080;margin-bottom:10px;" class="col-md-3">Finaliser la commande</a>
            <a href="{{path('app_products')}}" class="btn" style="width: 200px;border:solid #556B2F 1px;background-color:#8FBC8F;">Continuer mes achats</a>
            </div>
        </div>
    </div>
    
    </section>
</main>
{% endblock %}
