<header class="container">
  <nav class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">  
        <div class="row">
            <a href="{{path('app_home_page')}}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{{asset('./img/Logo.png')}}" alt="logo" id="logo" style="width:150px"/>
            </a>
            <p style="margin-left:100px">Don't compromise on your look</p>
        </div>

        {% if app.user%}
        <div class="col-md-4 text-end">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{path('app_home_page')}}" class="nav-link px-2 link-dark link-underline-dark">Accueil</a></li>
            <li><a href="#" class="nav-link px-2 link-dark link-underline-dark">Boutique</a></li>
            <li><a href="#" class="nav-link px-2 link-dark link-underline-dark">Panier</a></li>
            <li><a href="{{path('app_logout')}}" class="nav-link px-2 link-dark link-underline-dark">Se déconnecter</a></li>
            </ul>
        </div>
        {% else %}
        <div class="col-md-3 text-end">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{path('app_home_page')}}" class="nav-link px-2 link-dark link-underline-dark">Accueil</a></li>
            <li><a href="{{path('app_register')}}" class="nav-link px-2 link-dark">S'inscrire</a></li>
            <li><a href="{{path('app_login')}}" class="nav-link px-2 link-dark">Se Connecter</a></li>
            </ul>
        {% endif %}
    </nav>
</header>