{% extends 'base.html.twig' %}

{% block title %}Page administrateur{% endblock %}

{% block body %}
<main>
    <section class="container">
        <div class="mx-auto p-2" style="width: 90%;border:solid black 1px;margin-top:50px; margin-bottom:30px;background-color:#ff5733;">
       
           {{ form_start(productAddForm) }}
            <div  class="row">
            <div class="col-md-3">
            {{ form_row(productAddForm.image) }}
            </div>
            
            <div class="col-md-2">
            {{ form_row(productAddForm.name) }}
            </div>
            <div class="col-md-1">
            {{ form_row(productAddForm.price) }}
            </div>
            <div class="col-md-1">
            {{ form_row(productAddForm.XS) }}
            </div>
            <div class="col-md-1">
            {{ form_row(productAddForm.S) }}
            </div>
            <div class="col-md-1">
            {{ form_row(productAddForm.M) }}
            </div>
            <div class="col-md-1">
            {{ form_row(productAddForm.L) }}
            </div>
            <div class="col-md-1">
            {{ form_row(productAddForm.XL) }}
            </div>
       
            <div class="col-12 form-check text-end">     
            {{ form_row(productAddForm.is_highlighted) }}
            </div>
            <div class=" text-end" style="margin-top:10px;">
            {{ form_row(productAddForm.save) }}
            </div>

           
            </div>  
            {{ form_end(productAddForm) }}

        </div>
    </section>
</main>
{% endblock %}
